.page.theme_dark {
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: image-set(
    url("../images/cover-image-dark.avif") type("image/avif"),
    url("../images/cover-image-dark.png") type("image/png")
  );
  --button-color: #ff0070;
  --title-color: #ff0070;
  --decorated-color: #ff0070;
  --decorated-zone-display: block;
  --button-color-hover: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #db00ff;
    --text-color: #f1b2ce;
    --subtitle-color: #000028;
    --accent-color: #ff0070;
    --bg-color: #000028;
    --bg-image: image-set(
      url("../images/cover-image-dark.avif") type("image/avif"),
      url("../images/cover-image-dark.png") type("image/png")
    );
    --button-color: #ff0070;
    --title-color: #ff0070;
    --decorated-color: #ff0070;
    --decorated-zone-display: block;
    --button-color-hover: rgba(255, 0, 112, 0.4);
  }
}
